{% set shop_layout_temp = 'layout'|get_path_param %}
{% if shop_layout_temp is defined and  shop_layout_temp is not empty %}
	{% set shop_layout = shop_layout_temp %}
{% elseif shop_layout is empty %}
	{% set shop_layout = 'right' %}
{% endif %}
{% if view.current_display == 'page_shop' %}
	{% if rows %}
	<div class="product_list_area">
        <div class="row">
		{% if shop_layout == 'grid3col' %}
			{{ rows|render|str_replace('col-md-6', 'col-md-4')|raw }}
		{% else %}
			{{ rows }}
		{% endif %}
        </div>
    </div>
    {% endif %}
    {{ pager }}
{% elseif view.current_display == 'page_products_search'  %}
	{% if rows %}
	<div class="product_list_area">
        <div class="row">
			{{ rows }}
        </div>
    </div>
    {% endif %}
    {{ pager }}
{% elseif view.current_display == 'page_products_sort' or view.current_display == 'embed_products_in_term' %}
	{% if rows %}
	<div class="product_list_area">
        <div class="row">
			{{ rows }}
        </div>
    </div>
    {% endif %}
    {{ pager }}
{% elseif view.current_display == 'block_products'  %}
	{% if rows %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="product_list_area">
			        <div class="row">
						{{ rows }}
			        </div>
			    </div>
			    {{ pager }}
			</div>
		</div>
	</div>
    {% endif %}
{% else %}
	{{ rows }}
{% endif %}