{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if view.current_display == 'block_latest_work_style1' %}
	{% if rows %}
		{% if header %}
		<div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <!-- START SECTION TITLE -->
                    <div class="section_title">
	    				{{ header }}
	    			</div>
	    		</div>
	  		</div>
	  	</div>
	  	{% endif %}
		<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wb-grid">
                        <div class="wb-center">
                            <div class="grid">
                                <!-- START PORTFOLIO GRID -->
                                <div id="grid-ns-col-3" class="cbp">
                                	{{ attachment_before }}
                                	{{ rows }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ footer }}
	{% endif %}
{% elseif view.current_display == 'block_latest_work_style1b' %}
    {% if rows %}
        {% if header %}
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <!-- START SECTION TITLE -->
                    <div class="section_title">
                        {{ header }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wb-grid">
                        <div class="wb-center">
                            <div class="grid">
                                <!-- START PORTFOLIO GRID -->
                                <div id="js-grid-masonry" class="cbp">
                                    {{ attachment_before }}
                                    {{ rows }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ footer }}
    {% endif %}
{% elseif view.current_display == 'block_latest_work_style2' %}
    {% if rows %}
        {% if header %}
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <!-- START SECTION TITLE -->
                    <div class="section_title">
                        {{ header }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wb-grid">
                        <div class="wb-center">
                            <div class="grid">
                                <!-- START PORTFOLIO FILTER -->
                                <div id="js-filters-masonry" class="cbp-l-filters-alignRight">
                                    <!-- START SINGLE FILTER -->
                                    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                                        {{ 'All'|t }}
                                    </div>
                                    {{ 'Portfolio categories'|get_list_term|raw }}
                                </div>
                                <!-- START PORTFOLIO GRID -->
                                <div id="js-grid-masonry" class="cbp">
                                    {{ attachment_before }}
                                    {{ rows }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ footer }}
    {% endif %}
{% elseif view.current_display == 'embed_portfolio_gutter_2columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-s-col-2" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-s-col-2" class="cbp">
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_gutter_3columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-s-col-3" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-s-col-3" class="cbp">
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_gutter_4columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-s-col-4" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-s-col-4" class="cbp">
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_gutter_5columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-s-col-5" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-s-col-5" class="cbp">
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_gutter_6columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-s-col-6" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-s-col-6" class="cbp">
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_gutter_less_2columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-ns-col-2" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-ns-col-2" class="cbp">
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_gutter_less_3columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-ns-col-3" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-ns-col-3" class="cbp">
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_gutter_less_4columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-ns-col-4" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-ns-col-4" class="cbp">
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_gutter_less_5columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-ns-col-5" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-ns-col-5" class="cbp">
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_gutter_less_6columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-ns-col-6" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-ns-col-6" class="cbp">
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_gutter_title_2columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-st-col-2" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-st-col-2" class="cbp">
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display ==  'embed_portfolio_term_page' %}
    {% if rows %}
    <div class="col-md-12 term-page">
        <div class="wb-grid">
            <div class="wb-center">
                <div class="grid">
                    <div id="grid-st-col-2" class="cbp">
                        {{ rows }}
                    </div>
                    {{ pager }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% elseif view.current_display == 'embed_portfolio_gutter_title_3columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-st-col-3" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-st-col-3" class="cbp">
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_gutter_title_4columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-st-col-4" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-st-col-4" class="cbp">
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_gutter_title_5columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-st-col-5" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-st-col-5" class="cbp">
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_gutter_title_6columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-st-col-6" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-st-col-6" class="cbp">
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_title_gutter_less_2columns' %}
    <!-- START PORTFOLIO FILTER -->
   <div id="filter-nst-col-2" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-nst-col-2" class="cbp">
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_title_gutter_less_3columns' %}
    <!-- START PORTFOLIO FILTER -->
   <div id="filter-nst-col-3" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-nst-col-3" class="cbp">
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_title_gutter_less_4columns' %}
    <!-- START PORTFOLIO FILTER -->
   <div id="filter-nst-col-4" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-nst-col-4" class="cbp">
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_title_gutter_less_5columns' %}
    <!-- START PORTFOLIO FILTER -->
   <div id="filter-nst-col-5" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-nst-col-5" class="cbp">
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_title_gutter_less_6columns' %}
    <!-- START PORTFOLIO FILTER -->
   <div id="filter-nst-col-6" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-nst-col-6" class="cbp">
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_masonry_gutter_2columns' %}
    <!-- START PORTFOLIO FILTER -->
   <div id="filter-s-col-2" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-s-col-2" class="cbp">
        {{ drupal_view('_glamr_portfolio', 'attachment_before_portfolio_masonry') }}
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_masonry_gutter_3columns' %}
    <!-- START PORTFOLIO FILTER -->
   <div id="filter-s-col-3" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-s-col-3" class="cbp">
        {{ drupal_view('_glamr_portfolio', 'attachment_before_portfolio_masonry') }}
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_masonry_gutter_4columns' %}
    <!-- START PORTFOLIO FILTER -->
   <div id="filter-s-col-4" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-s-col-4" class="cbp">
        {{ drupal_view('_glamr_portfolio', 'attachment_before_portfolio_masonry') }}
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_masonry_gutter_5columns' %}
    <!-- START PORTFOLIO FILTER -->
   <div id="filter-s-col-5" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-s-col-5" class="cbp">
        {{ drupal_view('_glamr_portfolio', 'attachment_before_portfolio_masonry') }}
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_masonry_gutter_6columns' %}
    <!-- START PORTFOLIO FILTER -->
   <div id="filter-s-col-6" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-s-col-6" class="cbp">
        {{ drupal_view('_glamr_portfolio', 'attachment_before_portfolio_masonry') }}
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_masonry_gutter_less_2columns' %}
    <!-- START PORTFOLIO FILTER -->
   <div id="filter-ns-col-2" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-ns-col-2" class="cbp">
        {{ drupal_view('_glamr_portfolio', 'attachment_before_portfolio_masonry') }}
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_masonry_gutter_less_3columns' %}
    <!-- START PORTFOLIO FILTER -->
   <div id="filter-ns-col-3" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-ns-col-3" class="cbp">
        {{ drupal_view('_glamr_portfolio', 'attachment_before_portfolio_masonry') }}
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_masonry_gutter_less_4columns' %}
    <!-- START PORTFOLIO FILTER -->
   <div id="filter-ns-col-4" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-ns-col-4" class="cbp">
        {{ drupal_view('_glamr_portfolio', 'attachment_before_portfolio_masonry') }}
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_masonry_gutter_less_5columns' %}
    <!-- START PORTFOLIO FILTER -->
   <div id="filter-ns-col-5" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-ns-col-5" class="cbp">
        {{ drupal_view('_glamr_portfolio', 'attachment_before_portfolio_masonry') }}
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_masonry_gutter_less_6columns' %}
    <!-- START PORTFOLIO FILTER -->
   <div id="filter-ns-col-6" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-ns-col-6" class="cbp">
        {{ drupal_view('_glamr_portfolio', 'attachment_before_portfolio_masonry') }}
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_masonry_title_gutter_2columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-st-col-2" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-st-col-2" class="cbp">
        {{ drupal_view('_glamr_portfolio', 'attachment_before_portfolio_masonry') }}
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_masonry_title_gutter_3columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-st-col-3" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-st-col-3" class="cbp">
        {{ drupal_view('_glamr_portfolio', 'attachment_before_portfolio_masonry') }}
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_masonry_title_gutter_4columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-st-col-4" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-st-col-4" class="cbp">
        {{ drupal_view('_glamr_portfolio', 'attachment_before_portfolio_masonry') }}
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_masonry_title_gutter_5columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-st-col-5" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-st-col-5" class="cbp">
        {{ drupal_view('_glamr_portfolio', 'attachment_before_portfolio_masonry') }}
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_masonry_title_gutter_6columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-st-col-6" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-st-col-6" class="cbp">
        {{ drupal_view('_glamr_portfolio', 'attachment_before_portfolio_masonry') }}
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_masonry_title_gutter_less_2columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-nst-col-2" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-nst-col-2" class="cbp">
        {{ drupal_view('_glamr_portfolio', 'attachment_before_portfolio_masonry') }}
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_masonry_title_gutter_less_3columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-nst-col-3" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-nst-col-3" class="cbp">
        {{ drupal_view('_glamr_portfolio', 'attachment_before_portfolio_masonry') }}
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_masonry_title_gutter_less_4columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-nst-col-4" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-nst-col-4" class="cbp">
        {{ drupal_view('_glamr_portfolio', 'attachment_before_portfolio_masonry') }}
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_masonry_title_gutter_less_5columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-nst-col-5" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-nst-col-5" class="cbp">
        {{ drupal_view('_glamr_portfolio', 'attachment_before_portfolio_masonry') }}
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'embed_portfolio_masonry_title_gutter_less_6columns' %}
    <!-- START PORTFOLIO FILTER -->
    <div id="filter-nst-col-6" class="cbp-l-filters-alignRight">
        <!-- START SINGLE FILTER -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            {{ 'All'|t }}
        </div>
        <!-- END SINGLE FILTER -->
        {{ 'Portfolio categories'|get_list_term|raw }}
    </div>
    <!-- START PORTFOLIO GRID -->
    <div id="grid-nst-col-6" class="cbp">
        {{ drupal_view('_glamr_portfolio', 'attachment_before_portfolio_masonry') }}
        {{ rows }}
    </div>
    {{ pager }}
{% elseif view.current_display == 'block_latest_work_grid_2col' or view.current_display == 'block_latest_work_grid_2colb' %}
    {% if rows %}
        {% if header %}
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <!-- START SECTION TITLE -->
                    <div class="section_title">
                        {{ header }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wb-grid">
                        <div class="wb-center">
                            <div class="grid">
                                <!-- START PORTFOLIO GRID -->
                                <div id="grid-s-col-2" class="cbp">
                                    {{ rows }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ footer }}
    {% endif %}  
{% elseif view.current_display == 'block_latest_work_grid_3col' %}
    {% if rows %}
        {% if header %}
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <!-- START SECTION TITLE -->
                    <div class="section_title">
                        {{ header }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wb-grid">
                        <div class="wb-center">
                            <div class="grid">
                                <!-- START PORTFOLIO GRID -->
                                <div id="js-grid-masonry" class="cbp">
                                    {{ rows }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ footer }}
    {% endif %} 
{% endif %}