{% if not page %}
{% else %}
<div class="row">
	<div class="col-md-5">
		<div class="left_product_slider">
			<div id="product_slider" class="e_product_slider">
			{% for img in node.uc_product_image %}
				<img src="{{ img.entity.fileuri|image_style_url('image_456x660') }}" alt="{{ img.alt }}">
			{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-md-7">
	    <div class="left_prodoct_desc_single">
			<div class="left_product_heading">
				<div class="row">
					<div class="col-md-8">
						<div class="pr_title_review">
							<h2><a href="{{ url }}">{{ label }}</a></h2>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single_pr_price">
							<h2>{{ content.price }}</h2>
						</div>
						<div class="single_pr_review">
							<p>{{ node.field_blog_comments.comment_count }} {{ 'Customer Review'|t }}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="left_product_desc">
				<p>{{ content.body['#object'].body.summary }}</p>
				<h6>{{ 'Tags'|t }}: {{ content.field_product_tags }}</h6>
			</div>
			{{ content.add_to_cart }}
	    </div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="product_extra_info">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#more_info" aria-controls="more_info" role="tab" data-toggle="tab">{{ 'More info'|t }}</a></li>
				<li role="presentation"><a href="#review" aria-controls="review" role="tab" data-toggle="tab">{{ 'Review'|t }} ({{ node.field_blog_comments.comment_count }})</a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="more_info">
					<div class="product_more_info_tab">
						<h2>{{ 'More Information'|t }}</h2>
						<div {{ content_attributes }}>
			        		{{ content.body }}
			    		</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="review">
                    <div class="review_list">
						{{ content.field_blog_comments }}
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
{% endif %}
