<div class="col-xs-6 center-block f-none">
    <div class="row">
        <div class="col-sm-6">
            {{ form.name }}
            {{ form.mail }}
            {{ form.subject }}
            {{ form.field_phone }}
        </div>
        <div class="col-sm-6">
            {{ form.message }}
            {{ form.actions }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ form.captcha }}
            {{ form|without('name','mail','subject', 'message', 'actions', 'captcha','preview','field_phone') }}
        </div>
    </div>
</div>